<link rel="stylesheet" href="/css/style.css">

<!-- In below line we added some bootstrap methods -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i id="logo" class="fa-brands fa-airbnb" style="color: #ff5a5f"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto search-sect">
        <form class="d-flex" role="search" method="POST" action="/listings/filter">
          <input name="title" class="form-control me-2 search-input" type="search" placeholder="Search destinations" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link your-home" href="/listings/new"><b>VoyageQuest your home</b></a>
        <div class="user-icon-container" id="userIcon">
          <i class="fa-solid fa-user-circle user-icon"></i>
          <div class="user-options-container" id="userOptionsContainer">
            <a class="nav-link" href="/user"><b>Profile</b></a>
            <!-- res.locals.currUser -->
            <% if(!currUser) { %>
              <a class="nav-link" href="/login"><b>Login</b></a>
              <a class="nav-link" href="/signup"><b>Sign up</b></a>
            <% } %>
            <% if(currUser) { %>
              <a class="nav-link" href="/logout"><b>Sign out</b></a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>

var userOptionsContainer = document.getElementById('userOptionsContainer');
  var userIcon = document.getElementById('userIcon');

  // Toggle the userOptionsContainer display
  userIcon.addEventListener('click', function (event) {
    event.stopPropagation(); // Prevents the click event from reaching the document
    userOptionsContainer.style.display = (userOptionsContainer.style.display === 'none' || userOptionsContainer.style.display === '') ? 'block' : 'none';
  });

  // Close the userOptionsContainer when clicking anywhere outside of it
  document.addEventListener('click', function (event) {
    if (event.target !== userIcon && !userOptionsContainer.contains(event.target)) {
      userOptionsContainer.style.display = 'none';
    }
  });
</script>

