<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">
        <br><br>
        <h2>Create a New Listing</h2>
        <!-- enctype="multipart/form-data" helps to upload files -->
        <form 
        method="POST" 
        action="/listings" 
        novalidate 
        class="needs-validation" 
        enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="Enter tittle" class="form-control" required>
                <div class="invalid-feedback">Please Enter Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
                <div class="invalid-feedback">Please Enter Description</div>
            </div>


            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[image]" placeholder="Enter image URL" class="form-control">
            </div> -->

            <div class="mb-3"  class="form-select form-select-lg">
                <label for="listingCategory" class="form-label">Category</label>
                <select class="form-select listing-create" name="listing[category]" id="listingCategory" required>
                    <option value="" disabled selected>Choose Category</option>
                    <option value="Trending">Trending</option>
                    <option value="New">New</option>
                    <option value="Rooms">Rooms</option>
                    <option value="Pools">Pools</option>
                    <option value="Luxe">Luxe</option>
                    <option value="Beachfront">Beachfront</option>
                    <option value="Domes">Domes</option>
                    <option value="Countryside">Countryside</option>
                    <option value="Artic">Artic</option>
                    <option value="Boats">Boats</option>
                    <option value="Castles">Castles</option>
                    <option value="Farms">Farms</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" placeholder="Enter image URL" class="form-control" required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  name="listing[price]" placeholder="Ex: 1500" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Ex: USA" class="form-control" required>
                    <div class="invalid-feedback">Please Enter Country</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Ex: NewYork " class="form-control" required>
                <div class="invalid-feedback">Please Enter Location</div>
            </div>
            <button class="btn btn-dark add-btn mt-3">Add</button>
        </form>
        <br><br>
    </div>    
</div>

