<% layout("/layouts/boilerplate") %>

<div class="row mt-3 user-top">
    <h1 class="header col-6 offset-3 user-top">User Details</h1>
    <div class="center col-6 offset-3">
        <div class="mb-3 mt-4">
            <p>Username: <b><%= user.username %></b></p>
            <p>Email: <b><%= user.email %></b></p>
        </div>
    </div>
</div>
